.logo{
  border-radius: 15px;
  width: 100px;
}

.pic {
  background-color: #e6ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
 
}
.names a{
 color: #000000;
  padding: 5px 15px;
    text-decoration: none;
  border-radius: 15px;
}
.names a:hover {
  background-color: #c0c0c0;

}
.button {
  background-color: #00ffff;
  color: #ffffff;
  border: 0;
   padding: 5px 15px;
  border-radius: 15px;
}
.button:hover {
 background-color: #c0c0c0;
  
}
.landing {
  background-color: #e6ffff;
   display: flex;
  justify-content: space-between;
  padding: 25px 50px;
  border-radius: 0 0 30px 30px;
  align-items: center;
  color:#000000;
}
.landing-search input{
  border-radius: 50px;
  border: none;
  outline: none;
  height: 30px;
  padding: 0 10px;
  
}
.btn {
  
   background-color: #00ffff;
  color: #ffffff;
  border: 0;
   padding: 5px 15px;
  border-radius: 15px;
  position: absolute;
  left: 200px;
  height: 30px;
    
}
.img-ban img{
  border-radius: 20px;
  width: 170px;
}
.landing-left{
  width: 450px;
 
}
.btn:hover{
  background-color: #c0c0c0;
}
.trending {
  padding: 25px 50px;
  
}
.trending span {
  color: #00ffff;
  text-transform: uppercase;
  font-size: 14px;
  
}
.bot{
  justify-content: space-between;
  background-color: #00ffff;
  color: #ffffff;
  border: 0;
   padding: 5px 15px;
  border-radius: 15px;
}
.bot:hover{
   background-color: #c0c0c0;
}
.trending-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trending-header h1 {
  margin-top: 0;
}

.card {
  width: 330px;
  background-color: #e6ffff;
  border-radius: 20px;
}
.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
.card-info img{
  width: 25px;
  
}
.card .thumb{
  width: 330px;
  border-radius: 20px 20px 0 0;
}
.trending-cards{
  display: flex;
  gap: 25px;
}
.center-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 20px;
}

.centered-image {
  max-width: 200px; 
  height: auto;
  border-radius: 20px;
}